<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="left">
        <h1>Registrace</h1>

        <form wicket:id="registration">
            <fieldset>
                <div class="field">
                    <div class="label">Zadejte svůj email(Bude sloužit jako login): </div>
                    <div class="input"><input type="email" wicket:id="email" id="login" name="login" value="login"/></div>
                    <div class="error" wicket:id="emailFeedback"></div>
                </div>

                <div class="field">
                    <div class="label">Zadejte své jméno: </div>
                    <div class="input"><input type="text" wicket:id="name" id="name" name="name" value=""/></div>
                    <div class="error" wicket:id="nameFeedback"></div>
                </div>

                <div class="field">
                    <div class="label">Zadejte své datum narození: </div>
                    <div class="input"><input type="text" wicket:id="dateOfBirth" id="dateOfBirth" name="dateOfBirth" value=""/></div>
                    <div class="error" wicket:id="dateOfBirthFeedback"></div>
                </div>

                <div class="field">
                    <div class="label">Zadejte heslo: </div>
                    <div class="input"><input type="password" wicket:id="password" id="password" name="password" value=""/></div>
                    <div class="error" wicket:id="passwordFeedback"></div>
                </div>

                <div class="field">
                    <div class="label">Zadejte heslo znovu: </div>
                    <div class="input"><input type="password" wicket:id="passwordAgain" id="passwordAgain" name="passwordAgain" value=""/></div>
                    <div class="error" wicket:id="passwordAgainFeedback"></div>
                </div>

                <div class="field">
                    <div class="label">Zadejte svou fotografii: </div>
                    <div class="input"><input type="file" wicket:id="image" id="photo" name="photo" value=""/></div>
                    <div class="error" wicket:id="imageFeedback"></div>
                </div>

                <div class="field">
                    <input wicket:id="submit" type="submit" value="Zaregistrovat">
                </div>
            </fieldset>
        </form>
    </div>

    <div class="right">
        <h2>Informace</h2>

        <p class="text">
            V rámci registrace je potřeba zadat několik nezbytných osobních údajů, jako vaše jméno
            a email pro komunikaci.
        </p>

        <p class="text">
            Skrz email budete dostávat informace o schvalování informací ze strany organizátorů hry.
        </p>

    </div>
</wicket:extend>