<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="left-menu-upper-heading">
        <div class="left-menu-upper-heading-text"><strong><span wicket:id="header">Hlavní menu</span></strong>
        </div>
    </div>
    <div class="left-menu-upper-content">
        <div class="w-row">
            <div class="w-col w-col-2 w-clearfix left-menu-upper-content-left-border">
                <wicket:link>
                    <img class="left-menu-upper-content-left-border-img" src="nakaza_border_left.png"
                         alt="nakaza_border_left.png">
                </wicket:link>
            </div>
            <div class="w-col w-col-10 left-menu-upper-content-content">
                <div wicket:id="buttons">
                    <a class="button left-menu-upper-button" href="#" wicket:id="button"><span wicket:id="buttonText">Home</span></a>
                </div>
            </div>
        </div>
    </div>
</wicket:panel>