<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="right-menu-section"><span class="date">05-12-2013</span>
        <br>Stránky spuštěny v testovací provoz.
    </div>
    <div class="right-menu-section"><span class="date">06-12-2013</span>
        <br>Aktualizace sekce O světě
    </div>
    <div class="right-menu-section"><span class="date">06-12-2013</span>
        <br>Aktualizace sekce O hře
    </div>
    <div class="right-menu-section"><span class="date">16-02-2014</span>
        <br>Oficiální spuštění stránek
    </div>
    <div class="right-menu-section"><span class="date">02-03-2014</span>
        <br>Začátek registrace
    </div>
</wicket:panel>