<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="w-col w-col-8 content">
        <div class="left-menu" wicket:id="leftMenus">

        </div>
        <div class="middle-cotent">
            <h1>O hře</h1>

            <p>Nákaza - Fáze 1: Karanténa je post apokalyptický outdoorový larp se zombie prvky. Hráči mají možnost
                zahrát si kromě tradičních rolí lidských uprchlíků také nepříliš běžné role samotných zombies a
                korporátních žoldáků.
            </p>

            <p>Hra bude z atmosferických důvodů probíhat zejména večer a v noci v ohraničeném prostoru. V rámci larpu
                bude použit systém šatrh, zbraně Nerf nebo ekvivalentní, krátké měkčené zbraně a některé zbraně
                netradiční.
            </p>

            <p>Předpokládaný počet účastníků: cca 60</p>
        </div>
    </div>
    <div class="w-col w-col-2 right-info">
        <div class="right-menu">
            <div class="sign-in" wicket:id="signInPanel">

            </div>
            <div class="right-menu-header rotate">Novinky</div>
            <div wicket:id="newsPanel" class="right-menu-content">

            </div>
        </div>
    </div>
</wicket:extend>