<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="w-col w-col-8 content">
        <div class="left-menu" wicket:id="leftMenus">

        </div>
        <div class="middle-cotent">
            <h1>O světě</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae
                erat. Aenean faucibus nibh et justo cursus
                id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae
                erat. Aenean faucibus nibh et justo cursus
                id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae
                erat. Aenean faucibus nibh et justo cursus
                id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        </div>
    </div>
    <div class="w-col w-col-2 right-info">
        <div class="right-menu">
            <div class="sign-in" wicket:id="signInPanel">

            </div>
            <div class="right-menu-header rotate">Novinky</div>
            <div wicket:id="newsPanel" class="right-menu-content">

            </div>
        </div>
    </div>
</wicket:extend>