<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="w-col w-col-8 content">
        <div class="left-menu" wicket:id="leftMenus">

        </div>
        <div class="middle-cotent">
            <h1>Nákaza</h1>

            <p>
                Víkendový LARP odehrávající se pravděpodobně ve středočeském kraji. V rámci tohoto larpu se na chvíli
                ocitnete v kůži lidí, kteří zažívají začátek apokalypsy v podobě smrtící nákazy. NA okraji velkého města,
                které by snad mělo být hermeticky uzavřeno a minimálně částečně zničeno.
            </p>

            <p>
                Hra se bude odehrávat v květnu 2014, přesnější terímn ještě bude stanoven. Očekáváme počet zhruba 60 hráčů.
                Cena za víkend by měla být mezi 500 a 1000Kč.
            </p>

            <p>
                Postavy budou rozdělené do třech frakcí, přičemž každá z těchto frakcí bude mít poněkud odlišnou hru.
                Armádu čeká především akční hra s lovem na přeživší a zombie.
                Přeživší čeká dramatická hra o tom jak přežít a jak vypadá svět, kde nefunguje civilizace, na kterou jsme zvyklí.
                Zombie pak čeká hra o hledání vlastní identity a nekonečný boj se sebou samými. Nákaza je pozměnila, neznamená to ale, že jsou nemyslícími monstry.
            </p>
        </div>
    </div>
    <div class="w-col w-col-2 right-info">
        <div class="right-menu">
            <div class="sign-in" wicket:id="signInPanel">

            </div>
            <div class="right-menu-header rotate right-shift">Nejnovější postavy</div>
            <div wicket:id="listShortChars" class="right-menu-content">

            </div>
        </div>
    </div>
</wicket:extend>