<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="w-col w-col-8 content">
        <div class="left-menu" wicket:id="leftMenus">

        </div>
        <div class="middle-cotent">
            <h1>Tvorba postavy</h1>

            <div class="error" wicket:id="feedback"></div>

            <div class="info">
                Zbývá <span class="availablePoints" wicket:id="pointsRemaining">20</span> bodů schopnosti.
            </div>

            <form wicket:id="storiesForm">
                <div class="storyLines">
                    <div class="availableStories">
                        <h3>Příběhy, kterých se můžete zůčastnit</h3>

                        <div id="sortable1" class="connectedSortable" wicket:id="availableStories">
                            <div class="story">
                                <span wicket:id="storyDetail"></span>
                            </div>
                            <div class="clear"></div>
                            <div class="participants" wicket:id="participants">
                                <div class="participant">
                                    <span class="storyPoint" wicket:id="participantPoints"></span>
                                    <span class="participantText" wicket:id="participantDescription"></span>
                                    <input type="button" wicket:id="change" class="storyChange" value="Přidej"/>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="myStories">
                        <h3>Vaše příběhy</h3>

                        <div id="sortable2" class="connectedSortable" wicket:id="myStories">
                            <div class="story">
                                <span wicket:id="storyPoints" class="storyPoints"></span>
                                <span wicket:id="storyDetail"></span>
                                <input type="button" wicket:id="change" class="storyChange" value="Odeber"/>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="w-col w-col-2 right-info">
        <div class="right-menu">
            <div class="sign-in" wicket:id="signInPanel">

            </div>
            <div class="right-menu-header rotate right-shift">Nejnovější postavy</div>
            <div wicket:id="shortCharacters" class="right-menu-content"></div>
        </div>
    </div>
</wicket:extend>