<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <script type="text/javascript">
        $(function() {
            $( "#sortable1, #sortable2" ).sortable({
                connectWith: ".connectedSortable"
            }).disableSelection();
        });
    </script>
    <!--
        Tři stavy - Nepřihlášen, Postava už existuje, Tvorba nové postavy.
    -->
    <div class="left">
        <h1>Tvorba postavy</h1>

        <div class="info">
            Zbývá <span class="availablePoints" wicket:id="pointsRemaining">20</span> bodů schopnosti.
        </div>

        <form wicket:id="storiesForm">
            <div class="error" wicket:id="feedback"></div>
        <div class="storyLines">
            <div class="availableStories">
                <h3>Příběhy, kterých se můžete zůčastnit</h3>
                <div id="sortable1" class="connectedSortable" wicket:id="availableStories">
                    <div class="story"><span wicket:id="story">Příběh 1 </span><input type="button" wicket:id="change" value="Přidej" /></div>
                </div>
            </div>
            <div class="myStories">
                <h3>Vaše příběhy</h3>
                <div id="sortable2" class="connectedSortable" wicket:id="myStories">
                    <div class="story"><span wicket:id="story">Můj příběh 1 </span><input type="button" wicket:id="change" value="Odeber" /></div>
                </div>
            </div>
        </div>
        </form>
    </div>

    <div class="right">
        <div wicket:id="shortCharacters"></div>
    </div>
</wicket:extend>