<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="left">
        <h2>Soupis příběhů.</h2>

        <div class="stories short">
            <table>
                <tr>
                    <td><a href="storyDetailPrivate.html">Story number 1</a></td>
                    <td><input type="button" value="Potvrdit" /></td>
                    <td><input type="button" value="Smazat" /></td>
                </tr>
                <tr>
                    <td><a href="storyDetailPrivate.html">Story number 2</a></td>
                    <td><input type="button" value="Potvrdit" /></td>
                    <td><input type="button" value="Smazat" /></td>
                </tr>
                <tr>
                    <td><a href="storyDetailPrivate.html">Story number 3</a></td>
                    <td><input type="button" value="Potvrdit" /></td>
                    <td><input type="button" value="Smazat" /></td>
                </tr>
                <tr>
                    <td><a href="storyDetailPrivate.html">Story number 4</a></td>
                    <td><input type="button" value="Potvrdit" /></td>
                    <td><input type="button" value="Smazat" /></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="right">
        <h2>Administrační panel.</h2>

        Zde je možné spravovat příběhy.
    </div>
</wicket:extend>