<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="left">
        <h1>Vytvořené příběhy</h1>

        <div wicket:id="storiesPanel"></div>
    </div>

    <div class="right">
        <p class="text">
            Pro možnost tvořit a upravovat příběhy je potřeba se <a wicket:id="login">přihlásit</a>.
        </p>

        <p class="text" wicket:id="storiesCreation">

        </p>

        <p class="text" wicket:id="addStoriesToCharacter">

        </p>
    </div>
</wicket:extend>