<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="w-col w-col-8 content">
        <div class="left-menu" wicket:id="leftMenus">

        </div>
        <div class="middle-cotent">
            <h1>Vytvořené příběhy</h1>

            <p>
                Chcete-li vytvořit příběh, je nejprve potřeba se přihlásit například <wicket:link><a href="login">zde</a></wicket:link>.

            </p>

            <div wicket:id="storiesPanel"></div>
        </div>
    </div>
    <div class="w-col w-col-2 right-info">
        <div class="right-menu">
            <div class="sign-in" wicket:id="signInPanel">

            </div>
            <div class="right-menu-header rotate">Příběhy</div>

            <div class="right-menu-content">
                <div class="right-menu-section">
                    Pro možnost tvořit a upravovat příběhy je potřeba se <a wicket:id="login">přihlásit</a>.
                </div>
            </div>
        </div>
    </div>

    <div class="right">
    </div>
</wicket:extend>