<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <form wicket:id="storyForm">
        <table wicket:id="stories">
            <tr>
                <td>
                    <a wicket:id="storyDetail"><span wicket:id="storyName">Name of story</span></a>
                </td>
                <td><input type="text" value="0" wicket:id="rating"/></td>
                <td><input type="submit" value="Potvrdit" wicket:id="accept"/></td>
                <td><input type="submit" value="Smazat" wicket:id="delete"/></td>
            </tr>
        </table>
    </form>
</wicket:panel>