<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <h2>Poslední přidané příběhy</h2>

    <div wicket:id="stories">
        <div class="story">
            <span class="publicDescription">
                <a wicket:id="storyDetail"><span wicket:id="publicDescription">Description of story</span></a>
            </span>

            <div class="labels" wicket:id="labels">
                <div wicket:id="label" class="label">Detektivní</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</wicket:panel>