<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="stories full" wicket:id="stories">
        <div class="story">
            <div class="name">
                <a wicket:id="storyDetail"><span wicket:id="storyName">Jméno příběhu</span></a>
            </div>
            <div class="description public" wicket:id="descriptionPublic">
                Everyone sees this description.
            </div>
            <div class="description private" wicket:id="descriptionPrivate">
                If I am logged and participant of the story I see this description.
            </div>
            <div class="description private role" wicket:id="descriptionPrivateRole">
                If I am logged and participant of the story I see this description.
            </div>
            <div class="labels" wicket:id="labelsPanel"></div>

            <div class="participants" wicket:id="participantsPanel"></div>
        </div>
    </div>
</wicket:panel>