<wicket:panel xmlns:wicket="http://wicket.apache.org">

    <div wicket:id="participants">
        <div class="participant">
            <div class="field">
                <div class="label">Veřejný popis</div>
                <div class="input">
                    <textarea wicket:id="descriptionPublic">Sem patří popis, který uvidí každý.</textarea>
                </div>
                <div class="error" wicket:id="descriptionPublicFeedback"></div>
            </div>

            <div class="clear"></div>

            <div class="field">
                <div class="label">Tajný popis</div>
                <div class="input">
                    <textarea wicket:id="descriptionPrivate">Sem patří popis, který uvidí pouze ten, kdo se zapsal jako tato postava.</textarea>
                </div>
                <div class="error" wicket:id="descriptionPrivateFeedback"></div>
            </div>

            <div class="clear"></div>

            <div class="field">
                <div class="label">Rasa</div>
                <div wicket:id="group"></div>
                <div wicket:id="groupFeedback" class="error"></div>
            </div>

            <div class="clear"></div>

            <!-- Každá role může mít nějaké štítky -->
            <div class="labels" wicket:id="labels"></div>
            <div class="clear"></div>
        </div>
    </div>
    <input type="button" wicket:id="addParticipant" value="Další účastník">

</wicket:panel>