<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="utf-8">
    <title>Nákaza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <wicket:link>
        <link rel="stylesheet" type="text/css" href="css/normalize.css">
        <link rel="stylesheet" type="text/css" href="css/webflow.css">
        <link rel="stylesheet" type="text/css" href="css/nakaza.css">
        <link rel="icon" type="image/x-icon" href="img/logo16.ico">
        <link rel="apple-touch-icon" href="img/logo16.ico">
    </wicket:link>
</head>
<body>
<div class="w-clearfix header">
    <div class="menu">
        <a class="menu-item" href="http://www.pilirion.org">Pilirion</a>
        <a class="menu-item" href="http://www.larpovadatabaze.cz">Larpová databáze</a>
        <a class="menu-item" href="http://www.larp.cz">Larp.cz</a>
    </div>
</div>
<div class="logo">
    <div class="w-row">
        <div class="w-col w-col-2"></div>
        <div class="w-col w-col-10 image-section">
            <wicket:link>
                <img class="logo_image" src="img/nakaza_logo.png" alt="nakaza_logo.png">
            </wicket:link>
        </div>
    </div>
</div>
<div class="w-row main">
    <div class="w-col w-col-1"></div>
    <wicket:child>

    </wicket:child>
    <div class="w-col w-col-1"></div>
</div>
<div class="footer">
    <div class="footer-content"><strong>Design</strong>: Jindřích "Estanor" Mašek
        <br><strong>Developers</strong>: Bára Kořistková, Jakub Balhar
        <br><strong>Story:</strong> Lukáš "Finmer" Beran
    </div>
</div>
</body>
</html>