<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <h2>Neveřejná pravidla pro armádu</h2>

    <h3>O společnosti:</h3>

    <p>
        Společnost Odagra velkou část svých financí a laboratoří věnuje místo hledání nových léků na vývoj biologických
        zbraní a vytváření takzvaných „super vojáků“. Výsledky těchto pečlivě utajovaných aktivit jsou předmětem čilého
        obchodování na černém trhu a přinášejí společnosti značné příjmy.
    </p>

    <p>
        Netrvalo dlouho a investice do vývoje nové generace geneticky upravených vojáků přinesla první ovoce. Vědci
        společnosti dokázali testovacím subjektům dodat neuvěřitelně rychlou regeneraci a nadlidskou odolnost. Jako
        první samozřejmě aplikovali toto vylepšení na svou korporátní armádu a po ozkoušení ji začali distribuovat
        dalším vybraným organizacím.
    </p>

    <p>
        Momentální situace vytvořila optimální podmínky pro ozkoušení všech úprav na vojácích v boji. Výcvik nových
        členů korporátní armády se však bohužel ukázal jako velice finančně a časově náročný bez jistoty dosažení
        požadovaného výsledku. Korporace Odagra tak v tajnosti transformovala některá ze svých výzkumných zařízení a
        začala své vojáky klonovat.
    </p>

    <p>
        Do mozku jim umístili malý počítač s vysílačem, který v případě smrti vojáka vyšle veškeré vzpomínky a
        zkušenosti do centrálního počítače, který tyto informace uloží, zpracuje a nahraje do nového těla. Díky tomu se
        jejich armáda stala dokonalou bojovou silou těžící hlavně z rozsáhlých zkušeností a velké odolnosti.
    </p>

    <h3>Rozdělení skupiny:</h3>

    <ul>
        <li>1x Velitel</li>
        <li>1x Technik (opravuje poškozené neprůstřelné vesty a jiné vybavení v dílně na základně)</li>
        <li>2x Medik (má výcvik a vybavení pro ošetřování raněných, umí vyšetřením rozpoznat příznaky nákazy a usnadňuje
            léčení civilního obyvatelstva – zraněný se během procesu léčení může pomalu a opatrně pohybovat)
        </li>
        <li>8x Voják</li>
    </ul>


    <h3>Pravidla pro armádu:</h3>

    <p>
        Jednotlivý členové soukromé armády společnosti Odagra dokáží díky genetickým úpravám velice dobře odolávat
        zásahům střelných i sečných zbraní. Díky tomu mohou ignorovat následky prvního zásahu do jakékoli části těla (i
        do hlavy) a celkově tedy vydrží o jeden zásah více.
    </p>

    <h3>Léčení:</h3>

    <p>
        Členové armády mají velice dobré regenerační schopnosti a díky tomu se jim dokáže vyléčit jedno zranění za 10
        minut.
    </p>

    <p>
        Léčivé sérum: Do začátku dostane každý člen armády tři dávky léčivého séra, které po jejich využití může v
        průběhu hry obnovit u armádního doktora po získání laboratoře. Sérum dokáže okamžitě vyléčit všechna utržená
        zranění. Léčení touto cestou je značně bolestivé, což zaprvé znamená, že to hráč musí zahrát, a zadruhé se k
        této cestě uchýlí spíše v nouzi, kdy není pravděpodobné brzké ošetření medikem.
    </p>


    <h3>Oživování:</h3>

    <p>
        Po smrti člena armády jsou jeho vzpomínky odeslány do počítače (díky čemuž si pamatuje vše do své smrti) a
        následně započne jeho nová výroba. Celá operace trvá cca 30 minut po níž je voják opět vysazen do karanténní
        oblasti.
    </p>

    <h3>Nákaza:</h3>

    <p>
        Na členy armády díky jejich mutaci nákaza nefunguje a po smrti nemohou vstát jako zombie.
    </p>

    <h3>Zbraně a munice:</h3>

    <p>
        Do začátku si každý člen armády může vzít dvě střelné zbraně, 100 ks nábojů a dvě zbraně na boj na blízko (do
        maximální velikosti mačety).
    </p>


    <h3>Výstroj a oblečení:</h3>

    <p>
        Členové armády si mohou vzít na misi neprůstřelnou vestu - nositel ignoruje první zásah do vesty (střelnou
        zbraní i na blízko – pro opětovné použití musí opravit technik na základně) plus další ochranné pomůcky jako
        chrániče kolen a loktů. Dále může mít sebou nejrůznější drobné vybavení jako např. dalekohled, kompas, chemická
        světla, vysílačku … . Do začátku mu navíc bude zapůjčen baret v barvě označující příslušníka armády a korporátní
        loga.
    </p>

    <p>
        Jako oblečení je nejvhodnější černý komplet, nebo v případně potřeby i olivový či jiný maskovací vzor.
    </p>

    <h3>Mise:</h3>

    <p>
        Vaším prvotním úkolem je opět získat hlavní laboratorní budovu (označená červeně). Budete vysazeni vrtulníkem v
        určené oblasti (modře vyznačená oblast). V oblasti působila externí vojenská složka, která byla eliminovaná
        větším množstvím infikovaných jedinců, tudíž lze očekávat odpor. Navíc budete doprovázeni jedním firemním
        vědcem, jehož bezpečí a výzkum jsou prioritou.
    </p>

    <p>
        Po získání hlavní budovy musíte prozkoumat karanténní oblast a lokalizovat možné abnormální mutace (jedna byla
        pozorovaná v místě označeném žlutě) pro výzkumné účely. Ostatní nakažené okamžitě zlikvidujte. Extrakce
        civilního obyvatelstva ze zasažené oblasti v současné době není kvůli bezpečnostním rizikům povolena.
    </p>

    <p>
        Další rozkazy obdržíte v průběhu mise.
    </p>

    <div>
        <img wicket:id="map" />
    </div>
</wicket:panel>