<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <h1>O vaší postavě</h1>

    <div class="avatarImage">
        <img wicket:id="avatarImage" class="avatar" alt="AvatarHracoviPostavy"/>
    </div>

    <h2 wicket:id="name">Jméno postavy</h2>

    <div class="age"><b>Věk:</b> <span wicket:id="age">28</span></div>

    <div class="group"><b>Skupina:</b> <span wicket:id="group">Zombie</span></div>

    <div class="description" wicket:id="descriptionPublic">
        Popis vaší postavy.
    </div>

    <div wicket:id="listStories">
        <!-- It contains list of stories, you are associated with. -->
    </div>
</wicket:panel>