<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="characters" wicket:id="characters">
        <div class="character">
            <a wicket:id="characterDetail"><h1 wicket:id="name">Jméno postavy</h1></a>

            <div class="age"><span style="font-weight: bold;">Věk:</span> <span wicket:id="age">28</span></div>

            <div class="group"><span style="font-weight: bold;">Skupina:</span> <span wicket:id="group">28</span></div>

            <div class="description" wicket:id="description">
                Public description of said character.
            </div>
        </div>
    </div>
</wicket:panel>