<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="characters" wicket:id="characters">
        <div class="character">
            <a wicket:id="characterDetail"><h2 wicket:id="name">Jméno postavy</h2></a>

            <div class="age">Věk: <span wicket:id="age">28</span></div>

            <div class="group">Skupina: <span wicket:id="group">28</span></div>

            <div class="description" wicket:id="description">
                Public description of said character.
            </div>
        </div>
    </div>
</wicket:panel>