<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <h2>Tajná pravidla unikátní pro skupinu</h2>

    <h3>Obecné informace:</h3>

    <p>
        Obecně se tvrdí, že působení nákazy mění lidi na nemyslící tvory požírající vše živé, na co narazí, ale
        skutečnost je trochu jiná. Lidské tělo je do jisté míry schopné některé negativní vlivy postupně odbourat a díky
        tomu dokáží nakažení opět přemýšlet a dokonce i spolupracovat. Proto lze na některých místech nalézt kolonie
        takzvaných zombie tvořící kmenová seskupení.
    </p>

    <p>
        To platí také pro oblast označenou jako PXE01. Zdejší zombie se zde seskupily do jednoho tábora, kde každý
        postupně získává své místo. Někdo se snaží dostat na post vůdce kmene a někdo další plní funkci lovce. Další se
        třeba specializují na odchyt takzvaných „divokých zombie“ a podáním zvláštní látky, kterou jim dodává jejich
        Šaman, urychlují průběh opětovného získávání aspoň primitivního uvažování. Samozřejmě se najdou i takové zombie,
        které nejsou se svou momentální pozicí spokojené a snaží se silou vybojovat lepší místo. I přes všechny tyto
        problémy každý uznává postavení Šamana a nijak ho neohrožuje. Jen díky němu se mohly všechny skupinky zombie
        spojit do většího celku.
    </p>

    <p>
        Na počátku hry začíná každá zombie na úrovni Tichošlápka již pozměněná působením výše uvedené látky. Díky tomu
        mohou hráči vzájemně spolupracovat i domlouvat se (za pomoci posunků a kostrbatě tvořených vět). Všechny
        skupinky uvedené v příbězích byly postupně zapojeny do kmene, ale cíle jednotlivců samozřejmě skrytě přetrvaly.
    </p>

    <h3>Získávání jednotek:</h3>

    <p>
        Zombie ke svému přežití potřebují lidské maso. Zároveň pojídáním masa získávají zpět využité jednotky a jednotky
        potřebné pro mutaci na silnější typy (zvyšovat úroveň). Jednu jednotku získají za snězení celé končetiny nebo
        hlavy (v případě Žrouta a vyšších forem získají za končetinu i hlavu dokonce dvě jednotky). Dvě jednotky získají
        za sežrání trupu. Za požírání jiných zombie získává jednotky pouze Smrťák. Jednotlivé části těla budou
        představovat glejty (např. ruka, hlava, …).
    </p>

    <h3>Mutace (spalování jednotek):</h3>

    <p>
        Požíráním masa získávají zombie tzv. jednotky, které mohou využít na různé schopnosti nebo je mohou takzvaně
        „spálit“ na zvýšení své úrovně. Počet potřebných jednotek je uveden u každého typu zombie. Spálené jednotky
        nemohou zombie využít na nic jiného a nijak nesouvisí s maximálním počtem jednotek jež mohou mít. Jednotky
        nemusí spálit najednou a mohou je tudíž sbírat postupně například když zrovna uloví nějakého člověka.
    </p>

    <p>
        Příklad: Zombie Bob je na úrovni Tichošlápka a podaří se mu zabít jednoho člověka. K dispozici má celé tělo, tj.
        při své současné úrovni 7 jednotek. Při boji byl zraněn na levé ruce, tak využije 1 jednotku ze své zásoby na
        vyléčení. Sežere oběti jednu ruku a tím si doplní jednotky do svého současného maxima. Tím mu zbývá možnost
        ještě sežrat 6 jednotek. Rozhodne se sežrat tělo, hlavu, pravou ruku i nohu a získané jednotky takzvaně spálit
        na mutaci ve Skeletona. Zbývá mu ještě jedna noha po jejíž sežrání využívá tuto jednotka ke spálení na další
        zvýšení své úrovně. Díky tomu odchází na úrovni Skeletona s jednou spálenou jednotkou na další úroveň a tudíž mu
        ve změnu v Žrouta stačí získat jen 5 dalších jednotek.
    </p>

    <h3>Úrovně zombie:</h3>

    <p>
        Všechny typy zombie vydrží celkem 6 zásahů do těla a končetin nebo jeden zásah do hlavy. Navíc mají regeneraci,
        kdy za využití 1 jednotky se jim okamžitě vyléčí jedno lehké zranění (zásah do těla či končetiny). Postupováním
        na vyšší úrovni získávají zombie další schopnosti ke všem dříve získaným a vyšší maximální zásobu jednotek
        (maximum je vždy uvedeno v závorce za jménem typu zombie). Při postupu na vyšší úroveň se zvýší pouze maximum
        jednotek, které u sebe zombie může přechovávat, žádné nové jednotky ale nezíská.
    </p>
    <ul>
        <li>
            Šoural (2 jednotky) – Jedná se o nejslabší typ zombie. Na změnu v Jokra musí spálit (sníst) celkem 3
            jednotky.
        </li>
        <li>
            Jokr (2 jednotky) – Jde o nebezpečnější typ zombie, která je schopná i několik kroků popoběhnout, ale jinak
            vydrží stejně jako Šoural. Na změnu v Tichošlápka musí spálit 4 jednotky.
        </li>
        <li>
            Tichošlápek (3 jednotky) – Jedná se o pravděpodobně nejrozšířenější typ zombie schopné odolat většímu počtu
            zásahů a někdy i pár kroků popoběhnout jako Jokr. Na změnu ve Skeletona musí spálit celkem 5 jednotek.
        </li>
        <li>
            Skeleton (3 jednotky) – Jde již o celkem nebezpečný typ zombie, u níž dochází působením viru k fyzickým
            změnám kostry. Nejvíce se tento jev projevu na lebce, která je schopná odolat navíc jeden zásah do hlavy
            (následně se léčí jako lehké zranění). Na změnu v Žrouta musí spálit 6 jednotek.
        </li>
        <li>
            Žrout (4 jednotky) – U tohoto typu jde o velmi nebezpečného predátora pozměněného tak, aby hodně vydržel a i
            získal více jednotek při požírání končetin a hlavy (získá místo jedné jednotky celkem 2). Na změnu v Lovce
            musí spálit celkem 7 jednotek.
        </li>
        <li>
            Lovec (4 jednotky) – V tomto případě se již jedná o prakticky dokonalého lovce schopného působením viru
            odolávat všem slabým stránkám svých předchozích forem. Tento jedinec je schopen stále zabíjet i po zničení
            mozku či míchy (je schopen regenerovat mozek či míchu za 2 jednotky). Na změnu v Predátora musí spálit 8
            jednotek.
        </li>
        <li>
            Predátor (5 jednotek) – Jedná se o smrtící typ nesmírně odolné zombie, jejíž pařáty jsou pokryté
            ochromujícím jedem (po zranění živého jedince či zombie způsobuje na 10 minut ochromení zasažené části
            těla). Jde o nejvyšší zatím pozorovaný typ zombie schopné zabít i menší skupinky dobře ozbrojených
            přeživších. Na změnu v Smrťáka musí pozřít jedno celé tělo jiného Predátora, nebo dvou Lovců.
        </li>
        <li>
            Smrťák (8 jednotek) – Tento typ zombie je působením viru natolik pozměněn, že ke svému přežití nepožírá jen
            maso lidí ale i jiných zombie. Jeho tělo je velice odolné na všechny zásahy střelných zbraní i zbraní na
            blízko (imunita na zásahy do končetin) a navíc se mu všechny zranění dost rychle regenerují (za 10 deset
            minut v klidu se mu vyléčí jedno zranění). Naštěstí tento typ byl pozorován pouze jednou a při tomto setkání
            byla zabita jedna celá jednotka vojáků korporace Odagra.
        </li>
    </ul>

    <h3>Oživování:</h3>

    <p>
        Po zabití se zombie opět zvedá po 30 minutách na místě své smrti (v případě zničení celého těla se oživuje v
        hlavním táboře zombies). Při každém oživení se ji sníží úroveň o jedna (např. z Tichošlápka na Jokra), ale vždy
        maximálně na úroveň Šourala a vynuluje se mu případná zásoba spálených jednotek na zvýšení úrovně. Zombie si
        pamatuje vše před svou smrtí.
    </p>

    <h3>Používání předmětů a učení:</h3>

    <p>
        Zombie působením nákazy ztratily schopnost používat všechny složitější předměty a zbraně. Musí se všechno učit
        znovu od začátku a tudíž se lze setkat se zombie zkoumající různé zajímavé předměty.
    </p>

    <p>
        I přes všechny získané nové zkušenosti je pro ně nejpřirozenější používat k boji své zuby a pařáty.
    </p>
</wicket:panel>