<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <div class="left-menu-upper-heading sign-in-box">
        <div class="left-menu-upper-heading-text"><strong>Logged</strong>
        </div>
    </div>
    <div class="sign-in-content">
        <div class="w-row right-menu-rows">
            <div class="w-col w-col-3 right-menu-row-left">

            </div>
            <div class="w-col w-col-9 right-menu-row-right">
                <a wicket:id="characterDetail">Moje postava</a>
                <a wicket:id="settings">Nastavení</a>
                <a wicket:id="logout">Odhlásit</a>
            </div>
        </div>
    </div>
</wicket:panel>