<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="w-col w-col-8 content">
        <div class="left-menu" wicket:id="leftMenus">

        </div>
        <div class="middle-cotent">
            <h1>Registrované postavy</h1>

            <p>
                Pro vytvoření postavy je nutné se nejdřív zaregistrovat a pak se <a wicket:id="login">přihlásit</a>.
                V případě, že již přihlášeni jste, stačí kliknout v okénku vpravo nahoře na <i>Moje postava</i> nebo na
                tlačítko <i>Nová</i> v levém spodním menu.
            </p>
            <p>
                Tvorba postavy zahrnuje uvedení jejího jména, věku, výběru skupiny, do které patří a krátkého popisu toho,
                kdo vaše postava je a jakou má povahu, resp. minulost. Ve chvíli, kdy máte postavu hotovou, se můžete
                začít zapojovat do jednotlivých příběhů.
            </p>
            <p>Příběh je v zásadě dějová linie, ve které vaše postava může hrát nějakou roli. Linky, kterých se zúčastníte,
            budou mít velký vliv na to, co budete během hry dělat, a v mnoha případech nastiňují motivaci a cíle vaší postavy.
                Účast v různých příbězích má různou cenu, tato cena je vyjádřena tzv. příběhovými body, které každá postava
                dostane při svém vytvoření přiděleny.
            </p>

            <div wicket:id="charactersPanel"></div>
        </div>
    </div>
    <div class="w-col w-col-2 right-info">
        <div class="right-menu">
            <div class="sign-in" wicket:id="signInPanel">

            </div>
            <div class="right-menu-header rotate right-shift">Nejnovější postavy</div>
            <div class="right-menu-content" wicket:id="listShortChars">
            </div>
        </div>
    </div>
</wicket:extend>