<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="w-col w-col-8 content">
        <div class="left-menu" wicket:id="leftMenus">

        </div>
        <div class="middle-cotent">
            <div wicket:id="character-detail"></div>
            <div wicket:id="zombieRules"></div>
            <div wicket:id="armyRules"></div>
        </div>
    </div>
    <div class="w-col w-col-2 right-info">
        <div class="right-menu">
            <div class="sign-in" wicket:id="signInPanel">

            </div>
            <div class="right-menu-header rotate right-shift">Soupis příběhů.</div>
            <div wicket:id="shortStories" class="right-menu-content">
                <!-- It contains list of stories, you are associated with as only their names. -->
            </div>
        </div>
    </div>
</wicket:extend>