<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="left">
        <h1>Tvorba postavy</h1>

        <h2>Registrované postavy</h2>

        <div class="character">
            <div class="avatar">
                <a href="characterDetail.html">
                    <img src="files/upload/hrac1.png" alt="characterAvatar"/>
                </a>
            </div>
            <div class="about">
                Quisque pulvinar nisi quis semper rhoncus. Fusce at diam mollis, facilisis justo ut, sodales lacus.
                Maecenas enim dolor, sollicitudin eget consequat non, pulvinar non lorem. Pellentesque eget vehicula
                orci. Mauris interdum sollicitudin turpis vitae iaculis. Cras est lorem, condimentum vitae ultricies
                id, varius a odio. Nunc sodales augue consequat leo viverra, et pharetra mauris imperdiet. Sed ut
                adipiscing neque. Duis vehicula malesuada enim. Aenean quis dapibus justo.
            </div>
            <div class="clear"></div>
        </div>

        <div class="character">
            <div class="avatar">
                <a href="characterDetail.html">
                    <img src="files/upload/hrac1.png" alt="characterAvatar"/>
                </a>
            </div>
            <div class="about">
                Quisque pulvinar nisi quis semper rhoncus. Fusce at diam mollis, facilisis justo ut, sodales lacus.
                Maecenas enim dolor, sollicitudin eget consequat non, pulvinar non lorem. Pellentesque eget vehicula
                orci. Mauris interdum sollicitudin turpis vitae iaculis. Cras est lorem, condimentum vitae ultricies
                id, varius a odio. Nunc sodales augue consequat leo viverra, et pharetra mauris imperdiet. Sed ut
                adipiscing neque. Duis vehicula malesuada enim. Aenean quis dapibus justo.
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="right">
        <p class="text">
            Pro možnost tvořit a upravovat postavu je potřeba se <a href="login.html">přihlásit</a>.
        </p>
    </div>
</wicket:extend>