<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="w-col w-col-8 content">
        <div class="left-menu" wicket:id="leftMenus">

        </div>
        <div class="middle-cotent">
            <h1>Registrované postavy</h1>

            <p>
                V případě, že si chcete vytvořit postavu pro tuto hru, je potřeba se nejprve <a wicket:id="login">přihlásit</a>.
                V případě, že již přihlášeni jste stačí kliknout v okénku vpravo nahoře na moje postava nebo na
                tlačítko vytvořit v levém spodním menu.
            </p>

            <div wicket:id="charactersPanel"></div>
        </div>
    </div>
    <div class="w-col w-col-2 right-info">
        <div class="right-menu">
            <div class="sign-in" wicket:id="signInPanel">

            </div>
            <div class="right-menu-header rotate right-shift">Nejnovější postavy</div>
            <div class="right-menu-content" wicket:id="listShortChars">
            </div>
        </div>
    </div>
</wicket:extend>